#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &kp Q  &kp W  &kp E    &kp R    &kp T           &kp EXCLAMATION  &kp Y  &kp U  &kp I      &kp O       &kp P
&none  &kp A  &kp S  &lt 4 D  &lt 3 F  &lt 2 G         &kp MINUS        &kp H  &kp J  &kp K      &kp L       &kp BACKSPACE
&none  &kp Z  &kp X  &kp C    &kp V    &kp B    &none  &kp SLASH        &kp N  &kp M  &kp COMMA  &kp PERIOD  &kp ENTER
       &none  &none  &none    &none    &none    &none                                            &none       &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none                              &none  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none                              &none  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none                              &none  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans
            >;
        };
    };
};
